@font-face {
  font-family: "LCD";
  src: url(Fonts/digital-7.ttf  );
}

*{
  image-rendering: pixelated;
}
#horario{
  position: relative;
  cursor: pointer;
  left: 85vw;
  user-select: none;
  left: 30vw;

}
#render{
  display: none;
  margin-top: 40px;
  position: relative;
  transform: translate(-50%);
  left: 50%;
  width: 360px;
  height: 360px;
  border-radius: 10px;
}
aside{
  user-select: none;
}
#timer{
  position: relative;
  margin-top: 100px;
  background-position: center center;
  background-image: url(WCA/TimerOff.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 280px;
}
body{
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
}
html{
  background-color: black;
}
#stopwatch{
  display: flex;
  user-select: none;
  position: absolute;
  font-family: "LCD";
  color: rgb(41, 64, 52);
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 6vw;
  overflow: hidden;
}
